/***************
  HTML Styles
***************/

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

strong {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 200;
}

h2, h3, h4 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 200;
}

input, select, textarea {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

.vex.vex-theme-plain .vex-dialog-input legend {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 200;
}

.or-hint.active {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

.question {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 200;
}

.note {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

.or-hint.active {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

.option-wrapper > label {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

.or-required-msg.active, .file-picker .file-feedback.warning, .or-constraint-msg.active, .file-picker .file-feedback.error {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 200;
}

.bootstrap-select {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 200;
}

.geopicker {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 200;
}

.file-picker .file-feedback, .file-picker .file-preview {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

.or-appearance-likert .option-wrapper {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

.or-appearance-distress .scale {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

form-footer .draft {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

.or h4 {
  border-bottom: 1px solid black !important; 
}

.question .question-label {
  color: #000000 !important; 
}

.focus > .question-label {
  font-weight: 300 !important;
  color: $input-highlight !important; 
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $input-highlight !important;
  box-shadow: 0 1px 0 0 $input-highlight !important;
}
