/***************
  HTML Styles
***************/

.or h3 {
  border-bottom: 1px solid #e0e0e0 !important;
}

.or h4 {
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.required-subtle {
  top: 0px;
  right: 5px;
}

.question .question-label {
  color: #000000 !important; 
}

.focus > .question-label {
  font-weight: 300 !important;
  color: $input-highlight !important; 
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $input-highlight !important;
  box-shadow: 0 1px 0 0 $input-highlight !important;
}
